*{
    margin: 0px;
    padding: 0px;
}
.slider{
    position: relative;
    width: 70%;
    height: 500px;
	margin: 100px auto;
	overflow: hidden;
}
.sliderPic{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	transition: all 1s ease-in-out;
	z-index: 1;
}
.sliderPic1{
    background-image: url(img/sliderPic1.jpg);
}
.sliderPic2{
    background-image: url(img/sliderPic2.jpg);
}
.sliderPic3{
    background-image: url(img/sliderPic3.jpg);
}
.spinnerPosition{
	font-size: 30px;
	position: absolute;
	left: calc(50% - 15px);
	top: calc(50% - 15px);
	color: gray;
}
.hidden{
	visibility: hidden;
	z-index: 0;
}
.goLeftIn{
	left: 100%;
	transform: translate(-100%, 0);
	/*left: -100%;*/
}
.goLeftOut{
	transform: translate(-100%, 0);
	left: -100%;
}
.goRight{
	left: -100%;
	transform: translate(100%, 0);
	/*left: 100%;*/
}
.goCenterFromRight{ 	
	transform: translate(0px, 0);
	/*left: 100%;*/
}
.setLeftPosition{
	left: -100%;
}
.setRightPosition{
	left: 100%;
}
setCenterPosition{
	left: 0px;
}
.arrow{
	font-size: 30px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: lightgray;
	position: absolute;
	top: calc(50% - 15px);
	z-index: 5;
}
.leftArrow{
	left: 5%;
}
.rightArrow{
	right: 5%;
}